@use "./../../../styles/main.scss" as *;

.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  height: 6.4rem;
  min-width: 40rem;
  width: 100%;

  padding: $spacing-md $spacing-lg;
  gap: $spacing-lg;
  border-radius: $radius-md;

  transition: all 0.2s;

  &__background {
    background-color: $color-white;
  }

  &--active {
    border-bottom: 3.2px solid $color-primary;
  }
  &--inactive {
    opacity: $opacity-80;
    border-bottom: 3.2px solid $color-grey-dark-1;
  }
  &--error {
    border-bottom: 3.2px solid $color-accent-red;
  }
}

.input {
  @include remove-default-input-style;
  flex-grow: 1;
  height: 100%;

  &__text {
    color: $color-black;
  }
}
