// Retrieved from https://befonts.com/carbona-font-family.html
// For personal use only.

@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-ExtraLight.otf");

  font-weight: 200;
}
@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-ExtraLightSlanted.otf");

  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-Light.otf");

  font-weight: 300;
}
@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-LightSlanted.otf");

  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-Regular.otf");

  font-weight: 400;
}
@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-RegularSlanted.otf");

  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-Medium.otf");

  font-weight: 500;
}
@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-MediumSlanted.otf");

  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-SemiBold.otf");

  font-weight: 600;
}
@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-SemiBoldSlanted.otf");

  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-Bold.otf");

  font-weight: 700;
}
@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-BoldSlanted.otf");

  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-ExtraBold.otf");

  font-weight: 800;
}
@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-ExtraBoldSlanted.otf");

  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-Black.otf");

  font-weight: 800;
}
@font-face {
  font-family: "Carbona";
  src: local("Carbona"), url("./styles/fonts/carbona/CarbonaTest-BlackSlanted.otf");

  font-weight: 800;
  font-style: italic;
}
