// Retrieved from https://befonts.com/carbona-font-family.html
// For personal use only.

@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-ExtraLight.otf") format("opentype");

  font-weight: 200;
}
@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-ExtraLightSlanted.otf") format("opentype");

  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-Light.otf") format("opentype");

  font-weight: 300;
}
@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-LightSlanted.otf") format("opentype");

  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-Regular.otf") format("opentype");

  font-weight: 400;
}
@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-RegularSlanted.otf") format("opentype");

  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-Medium.otf") format("opentype");

  font-weight: 500;
}
@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-MediumSlanted.otf") format("opentype");

  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-SemiBold.otf") format("opentype");

  font-weight: 600;
}
@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-SemiBoldSlanted.otf") format("opentype");

  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-Bold.otf") format("opentype");

  font-weight: 700;
}
@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-BoldSlanted.otf") format("opentype");

  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-ExtraBold.otf") format("opentype");

  font-weight: 800;
}
@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-ExtraBoldSlanted.otf") format("opentype");

  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-Black.otf") format("opentype");

  font-weight: 800;
}
@font-face {
  font-family: "Carbona";
  src:
    local("Carbona"),
    url("./fonts/carbona/CarbonaTest-BlackSlanted.otf") format("opentype");

  font-weight: 800;
  font-style: italic;
}
