@use "./../../../../styles/main.scss" as *;

.panel {
  @include flex-top-down;
  justify-content: space-between;

  height: 100%;
  padding: 5.2rem 2rem;
  &__section {
    @include flex-top-down;
  }
}

.logo {
  // TODO: to change
  height: 23.2rem;
  width: 28rem;
  background-color: grey;
}

.form {
  @include flex-top-down;
}

.prompt {
  font-family: "Carbona", sans-serif;
  font-size: 1.728rem;
  font-weight: 300;

  &__highlight {
    cursor: pointer;

    font-family: "Carbona", sans-serif;
    font-size: 1.728rem;
    font-weight: 700;
    color: $color-black;
    text-decoration: underline;

    &:hover {
      color: color-lighten($color-black, 12%);
    }

    &:active {
      color: color-darken($color-black, 12%);
    }
  }
}
