@use "./../../styles/main" as *;

.icon {
  transition: color 0.2s;

  /// Size ///
  &--sm {
    height: 3.2rem;
    width: 3.2rem;
  }

  &--md {
    height: 6.4rem;
    width: 6.4rem;
  }

  &--md {
    height: 9.6rem;
    width: 9.6rem;
  }

  &--fill {
    height: 100%;
    width: 100%;
  }

  /// Colour ///
  &--primary {
    color: $color-primary;
  }
  &--secondary {
    color: $color-secondary;
  }
  &--grey {
    color: $color-grey-dark-1;
  }
  &--white {
    color: $color-white;
  }
  &--success {
    color: $color-accent-green;
  }
  &--error {
    color: $color-accent-red;
  }

  /// interactive ///
  &--interact {
    transition: all 0.2s;

    &:hover {
      color: #444;
      cursor: pointer;
    }
  }
}
