@use "./../../styles/main" as *;

.icon {
  transition: color 0.2s;

  /// Size ///
  &--small {
    height: 2.4rem;
    width: 2.4rem;
  }

  &--medium {
    height: 4rem;
    width: 4rem;
  }

  /// Colour ///
  &--black {
    color: black;
  }
  &--blue {
    color: blue;
  }
  &--white {
    color: $color-white;
  }
  &--grey-dark {
    color: $color-grey-dark-2;
  }

  &--grey-light {
    color: $color-grey-light;
  }

  /// interactive ///
  &--interact {
    transition: all 0.2s;

    &:hover {
      color: #444;
      cursor: pointer;
    }
  }
}
