@use "./../../styles/main" as *;

$color-variants: (
  primary: $color-primary,
  secondary: $color-secondary,
  grey: $color-grey-dark-1,
  grey-light: $color-grey-light-1,
  white: $color-white,
  green: $color-accent-green,
  green-light: $color-accent-green-light,
  red: $color-accent-red,
  red-light: $color-accent-red-light
);

@mixin color-modifiers {
  @each $name, $value in $color-variants {
    &--#{"#{$name}"} {
      color: $value;
    }
  }
}

@mixin hover-color-modifiers {
  @each $name, $value in $color-variants {
    &--#{"#{$name}"}:hover {
      color: $value;
    }
  }
}

.container {
  &-hover {
    cursor: pointer;
  }
}

.icon {
  transition: color 0.2s;

  /// Size ///
  &--sm {
    height: 3.2rem;
    width: 3.2rem;
  }

  &--md {
    height: 6.4rem;
    width: 6.4rem;
  }

  &--lg {
    height: 9.6rem;
    width: 9.6rem;
  }

  &--fill {
    height: 100%;
    width: 100%;
  }

  /// Colour ///
  @include color-modifiers;

  &-hover {
    @include hover-color-modifiers;
    background-color: transparent;
  }
}
