@use "./../themes/themes" as themes;

.u-flex-row {
  display: flex;
  flex-direction: row;
}

//// FONTS ////
.u-center-text {
  text-align: center !important;
}

//// MARGINS ////
$spacings: (
  xs: themes.$spacing-xs,
  sm: themes.$spacing-sm,
  md: themes.$spacing-md,
  lg: themes.$spacing-lg,
  xl: themes.$spacing-xl,
  2xl: themes.$spacing-2xl
);

@each $name, $size in $spacings {
  .u-gap-x--#{$name} {
    column-gap: $size !important;
  }

  .u-gap-y--#{$name} {
    row-gap: $size !important;
  }

  .u-padding-x--#{$name} {
    padding-left: $size !important;
    padding-right: $size !important;
  }

  .u-padding-y--#{$name} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }

  .u-margin-btm--#{$name} {
    margin-bottom: $size !important;
  }

  .u-margin-right--#{$name} {
    margin-bottom: $size !important;
  }
}
