//// FONTS ////
.u-center-text {
  text-align: center !important;
}

//// MARGINS ////
$spacings: (
  1: 0.4rem,
  2: 0.8rem,
  3: 1.6rem,
  4: 2.4rem,
  5: 3.2rem,
  6: 6.4rem
);

@each $name, $size in $spacings {
  .u-gap-x--#{$name} {
    column-gap: $size !important;
  }

  .u-gap-y--#{$name} {
    row-gap: $size !important;
  }

  .u-padding-x--#{$name} {
    padding-left: $size !important;
    padding-right: $size !important;
  }

  .u-padding-y--#{$name} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }

  .u-margin-btm--#{$name} {
    margin-bottom: $size !important;
  }

  .u-margin-right--#{$name} {
    margin-bottom: $size !important;
  }
}
