//// COLOURS ////
$color-primary: #464aa9;
$color-primary-dark: #0c0b59;
$color-primary-light: #def9ff;

$color-black: #000;
$color-white: #fff;

$color-grey-dark-1: #686868;
$color-grey-dark-2: #353535;
$color-grey-light: #bebebe;
