//// COLOURS ////
$color-black: #000;
$color-white: #fff;
$color-grey-light-1: #aaa;
$color-grey-light-2: #ddd;
$color-grey-dark-1: #444;
$color-grey-dark-2: #222;

$color-primary: #30366a;
$color-primary-light-1: #8386a6;
$color-primary-light-2: #d6d7e1;
$color-primary-dark-1: #262b55;
$color-primary-dark-2: #1d2040;

$color-secondary: #b66f49;
$color-secondary-light: #d3a992;
$color-secondary-dark: #6d432c;

$color-accent-green: #366a30;
$color-accent-green-light: #86a683;
$color-accent-green-dark: #20401d;

$color-accent-red: #6a3036;
$color-accent-red-light: #a68383;
$color-accent-red-dark: #401d1d;
