@use "./../../../styles/main" as *;

.profile {
  &--xs {
    height: 2.4rem;
    width: 2.4rem;
  }
  &--sm {
    height: 4.8rem;
    width: 4.8rem;
  }
  &--md {
    height: 6.4rem;
    width: 6.4rem;
  }
  &--lg {
    height: 12rem;
    width: 12rem;
  }
  &--xl {
    height: 24rem;
    width: 24rem;
  }

  &__shape {
    @include fill-parent;
    @include flex-center;
    overflow: hidden;
    border-radius: $radius-full;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__image {
    @include fill-parent;

    transform: scale(1.1);
    transition: all 0.5s;

    backface-visibility: hidden;
  }
  &:hover &__image--blur {
    transform: scale(1.05);
    filter: blur(3px) brightness(60%);

    cursor: pointer;
  }

  &__items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);

    color: $color-black;
    opacity: $opacity-0;

    transition: all 0.5s;
    text-align: center;
    backface-visibility: hidden;
  }
  &:hover &__items {
    opacity: $opacity-full;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  &__caption {
    color: $color-white;
  }
}
