@use "./../../../styles/main" as *;

$container-height: 7.2rem;
$container-width: 100rem;
$container-gap-top: 1.6rem;
$animation-timing: 0.2s;

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  height: $container-height;
  width: $container-width;

  display: flex;
  flex-direction: column;

  border-radius: $radius-lg;
  overflow: hidden;

  z-index: 99; // must be the highest element

  &--hide {
    opacity: 0;
    top: calc(-1 * $container-height);
    pointer-events: auto;

    transition:
      opacity $animation-timing ease-in,
      top $animation-timing linear;
  }

  &--show {
    opacity: 100;
    top: calc($container-height / 2 + $container-gap-top);
    pointer-events: none;

    transition:
      opacity $animation-timing ease-in,
      top $animation-timing linear;
  }
}

.display {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: $radius-lg $radius-lg 0 0;
  padding: $spacing-md $spacing-lg;
  gap: $spacing-lg;

  &--green {
    background-color: $color-accent-green;
  }

  &--red {
    background-color: $color-accent-red;
  }
}

.message {
  @include overflow-text-ellipsis;
  color: $color-white;
}

.progress-bar {
  height: 0.8rem;
  width: 100%;
  background-color: $color-grey-dark-2;

  &__current {
    height: 100%;
    transition: width 0.1s linear;

    &--green {
      background-color: $color-accent-green-dark;
    }
    &--red {
      background-color: $color-accent-red-dark;
    }
  }
}
