@use "./../abstracts/variables" as v;

//// COLOR ////
$color-black: v.$color-neutral-1000;
$color-white: v.$color-neutral-0;
$color-grey-light-1: v.$color-neutral-100;
$color-grey-light-2: v.$color-neutral-300;
$color-grey-dark-1: v.$color-neutral-700;
$color-grey-dark-2: v.$color-neutral-900;

$color-primary: v.$color-savoy-blue-700;
$color-primary-light-1: v.$color-savoy-blue-500;
$color-primary-light-2: v.$color-savoy-blue-300;
$color-primary-dark-1: v.$color-savoy-blue-800;
$color-primary-dark-2: v.$color-savoy-blue-900;

$color-secondary: v.$color-cocoa-brown-500;
$color-secondary-light: v.$color-cocoa-brown-300;
$color-secondary-dark: v.$color-cocoa-brown-700;

$color-accent-green: v.$color-forest-green-500;
$color-accent-green-light: v.$color-forest-green-200;
$color-accent-green-dark: v.$color-forest-green-800;

$color-accent-red: v.$color-cordovan-red-500;
$color-accent-red-light: v.$color-cordovan-red-200;
$color-accent-red-dark: v.$color-cordovan-red-800;

//// SPACING ////
$spacing-xs: v.$value-rem-1;
$spacing-sm: v.$value-rem-2;
$spacing-md: v.$value-rem-3;
$spacing-lg: v.$value-rem-4;
$spacing-xl: v.$value-rem-5;
$spacing-2xl: v.$value-rem-6;
$spacing-3xl: v.$value-rem-7;
$spacing-4xl: v.$value-rem-8;

//// RADIUS ////
$radius-sm: v.$value-rem-1;
$radius-md: v.$value-rem-4;
$radius-lg: v.$value-rem-7;
$radius-full: 100%;

//// STROKE-WIDTH ////
$stroke-width-xs: v.$value-px-3;
$stroke-width-sm: v.$value-px-4;
$stroke-width-md: v.$value-px-5;
$stroke-width-lg: v.$value-px-6;
$stroke-width-xl: v.$value-px-7;

//// OPACITY ////
$opacity-0: 0%;
$opacity-20: 20%;
$opacity-40: 40%;
$opacity-60: 60%;
$opacity-80: 80%;

//// BOX-SHADOW ////
$box-shadow--small: 0 v.$value-rem-2 v.$value-rem-2 rgba($color-black, $opacity-20);
$box-shadow--medium: 0 v.$value-rem-4 v.$value-rem-4 rgba($color-black, $opacity-20);
