@use "./../../../../styles/main.scss" as *;

.panel {
  @include flex-top-down;
  justify-content: space-between;

  height: 100%;
  padding: 5.2rem 2rem;
  &__section {
    @include flex-top-down;
  }
}

.greeting {
  &__upper {
    font-family: "Carbona", sans-serif;
    font-size: 2.986rem;
    font-weight: 400;

    margin-top: 2rem;
  }

  &__lower {
    font-family: "Carbona", sans-serif;
    font-size: 6.192rem;
    font-weight: 800;
    color: $color-primary-dark;
  }
}

.prompt {
  font-family: "Carbona", sans-serif;
  font-size: 1.728rem;
  font-weight: 300;

  &__highlight {
    cursor: pointer;

    font-family: "Carbona", sans-serif;
    font-size: 1.728rem;
    font-weight: 700;
    color: $color-primary-dark;
    text-decoration: underline;

    &:hover {
      color: color-lighten($color-primary-dark, 12%);
    }

    &:active {
      color: color-darken($color-primary-dark, 12%);
    }
  }
}
