@use "./../../../styles/main" as *;

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  width: 43.4rem;
  height: 6.4rem;

  margin: 1rem;
  background-color: $color-primary;
  border-radius: 0.8rem;
  box-shadow: 0px 0.4rem 1.2rem 0px rgba($color-black, 0.25);

  color: $color-white;
  text-decoration: none;
  font-family: "Carbona", sans-serif;
  font-weight: 800;
  font-size: 3.583rem;

  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}

.btn--default {
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.25rem 1rem rgba($color-black, 0.2);
    background-color: color-darken($color-primary, 2%);
  }

  &:active {
    transform: translateY(-0.5px);
    box-shadow: 0 0.1rem 0.75rem rgba($color-black, 0.2);
    background-color: color-darken($color-primary, 2%);
  }
}

.btn--action {
  // TODO: add loading and error states
}
