//// FONTS ////
.u-center-text {
  text-align: center !important;
}

//// MARGINS ////

// Top
.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}

// Bottom
.u-margin-btm-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-btm-medium {
  margin-bottom: 4rem !important;
}
.u-margin-btm-big {
  margin-bottom: 8rem !important;
}
